html {
    overflow-x: hidden;
}
body{
    font-size: 10px;
}
html{
    font-size: 20px;
}
.header i{
    display: inline;
    font-size: 1rem;
    color: white;
}
.header ul.list{
    display: none;
}
.header i{
    display: inline;
}
.header img{
    width: 8rem;
}
.containr {
    margin: 0 1rem;
    
}
.display_grid , .rigth .display_grid{
    grid-template-columns: 1fr;
}
.left{
    order: 2;
        width: 50%;
    margin: 0 auto;
}
.food .bg_white{
    margin-left: 6.16rem;
}

div.twoSec{
    grid-template-columns: 1fr 1fr;
}
.arrow{
    display: none;
}
.left .parent .child{
        left: 90%;
}
.two{
    grid-template-columns: 1fr 1fr;
}
.footer .display_grid{
    grid-template-columns: 1fr;
}
.footer .background{
    margin: 0 auto;
}
.footer .display_flex{
        width: 70%;
    margin: 0 auto;
}
.info{
    margin-bottom: 1rem;
}
.follow_us div{
    grid-template-columns: 1fr;
}
.follow_us{
    text-align: center;
}
.footer .display_flex {
    width: 98%;
}
/*
.display_flex:last-child{
margin-left: 15px;
}*/
