.header{
    height: 5.1rem;
    background-color: rgba(165,188,125,.7);
    width: 100vw;
    position: fixed;
    z-index: 1;
}
.container{
    width: 90vw;
    margin: 0 auto;
}
.list li a{
    text-decoration: none;
    color: white;
    font-family: HelveticaNeueLTStd-Md;
    border-bottom: 2px solid transparent;
    font-size: 1em;
}
.list li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
}
.list li a:hover{
    padding-bottom: 35px;
    border-bottom-color: white;
}
li:last-child{
    margin-right: 0;
}
.list li:last-child a{
    color: #e58c42;
}
hr{
    margin-top: 1em;
    border: none;
    height: 1px;
    background-color: #cdd7a2;
}
.header i{
    display: none;
}